@font-face {
    font-family: 'Noe Display';
    src: url('NoeDisplay-Medium.woff2') format('woff2'),
        url('NoeDisplay-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}


input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active
{
 -webkit-box-shadow: 0 0 0 30px white inset !important;
}


.twic-img {
    position: relative;
    width: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding-top: 100%;
  }
  .twic-img > img {
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .twic-img--fade > img {
    transition-property: opacity;
    will-change: opacity;
    opacity: 0;
  }
  .twic-img--fade > img.twic-done {
    opacity: 1;
  }